@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('./fonts/MyriadPro-Regular.eot');
    src: local('вє'), url('./fonts/MyriadPro-Regular.woff') format('woff'), url('./fonts/MyriadPro-Regular.ttf') format('truetype'), url('./fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/backgraund/backgroung.png);

    font-family: 'Lato',
    sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.goods {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 270px;
}

.title {
    margin: 50px 0 40px;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}

.subtitle {
    font-size: 17pt;
    text-align: center;
}

.subtitle:after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background-color: #f4b01e;
    margin: 50px auto;

}


.productTitle {
    font-family: 'Montserrat',
    sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 23px 0;
}

.productTitle span {
    color: #f4b01e;
}


.productIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}


.productSubitle {
    font-weight: 300;
    font-size: 14pt;
    text-align: center;
}


.productSubitle:after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background-color: #f4b01e;
    margin: 30px auto;

}


/* font-family: 'MyriadPro-Regular';*/


.textTitle {
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    text-align: center
}

.text {
    font-weight: 300;
    padding-bottom: 35px;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid #0A162F;
    text-align: center;
}


.fas, .fab  {
    font-size: 45px;
    margin: 20px auto;
   }